<a href="https://colab.research.google.com/github/rocioromera911/Portafolio_RR/blob/main/BigData_Apache_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
openjdk-8-jdk-headless is already the newest version (8u382-ga-1~22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 6 not upgraded.

In [ ]:
!wget https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

--2023-11-14 23:24:54--  https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 400395283 (382M) [application/x-gzip]
Saving to: ‘spark-3.5.0-bin-hadoop3.tgz.1’

spark-3.5.0-bin-had 100%[===================>] 381.85M   224MB/s    in 1.7s

2023-11-14 23:25:05 (224 MB/s) - ‘spark-3.5.0-bin-hadoop3.tgz.1’ saved [400395283/400395283]

In [ ]:
!tar xf spark-3.5.0-bin-hadoop3.tgz

In [ ]:
#IMPORTE EL MODULO FINDSPARK
!pip install findspark
!pip install pyspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import findspark
from pyspark.sql import SparkSession

In [ ]:
#INICIALICE EL OBJETO FINDSPARK APUNTADO A LA RUTA DE SU CARPETA SPARK
spark_path = "/content/spark-3.5.0-bin-hadoop3"

# Inicializa findspark con la ruta de Spark
findspark.init(spark_path)
#CREE EL OBJETO SPARK Y UNA APP LLAMADA ALUMNO
spark = SparkSession.builder.appName("alumno").getOrCreate()

In [ ]:
#cARGUE EN UN DATAFRAME LLAMADO DF_CSV
df_csv = spark.read.format("csv").options(inferSchema=True, sep=",", header="True").load("/content/cars.csv")

In [ ]:
#Muestre el esquema del df
df_csv.printSchema()

root
 |-- id: integer (nullable = true)
 |-- full_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- car_make: string (nullable = true)
 |-- gender: string (nullable = true)

In [ ]:
#Muestre los 10 primeros
df_csv.show(10)

+---+-----------------+--------------------+-------------+---------+------+
| id|        full_name|               email|      country| car_make|gender|
+---+-----------------+--------------------+-------------+---------+------+
|  1|       Arch Muzzi|amuzzi0@freewebs.com|      Jamaica|  Bentley|     M|
|  2|  Frederich Bates|fbates1@wordpress...|       Brazil|    Volvo|     M|
|  3|  Alphard Crowder|acrowder2@google....|        China|     Ford|     M|
|  4|Robinett Spedding|rspedding3@hostga...|United States|   Suzuki|     F|
|  5|   Kellia Muskett|kmuskett4@mayocli...|       Russia|Chevrolet|     F|
|  6|    Donal Mulloch|    dmulloch5@vk.com|       France|     Audi|     M|
|  7|    Nahum Arnoult|narnoult6@science...|       Russia|  Lincoln|     M|
|  8|     Bastien Pate|     bpate7@furl.net|    Indonesia|   Subaru|     M|
|  9|  Harmony Resdale|hresdale8@chronoe...|  North Korea|     Ford|     F|
| 10|     Adamo Volant|avolant9@twitter.com|     Malaysia|  Mercury|     M|
+---+-----------------+--------------------+-------------+---------+------+
only showing top 10 rows

In [ ]:
df_csv.createOrReplaceTempView("cars")

In [ ]:
sql_query = """
    SELECT full_name, id, email, country, car_make
    FROM cars
    WHERE gender = 'F'
    ORDER BY full_name ASC
"""

df1 = spark.sql(sql_query)

In [ ]:
df1.show(25)

+--------------------+---+--------------------+-----------+----------+
|           full_name| id|               email|    country|  car_make|
+--------------------+---+--------------------+-----------+----------+
|    Adelice Fibbitts|235|afibbitts6i@hc360...|      Chile|     Volvo|
|       Alethea Cheng| 64|   acheng1r@etsy.com|     Serbia|      Ford|
|       Almira Pescud| 59|apescud1m@taobao.com|    Ecuador|     Honda|
|      Anderea Eisold|140|aeisold3v@studiop...|      China|      Audi|
|  Annette Henningham| 54|ahenningham1h@dai...|      China|     Mazda|
|         Arda Reston| 34|arestonx@surveymo...|     Russia|   Maybach|
|     Ardis Creedland| 44|acreedland17@ifen...|     Russia|  Chrysler|
|      Aurelie Klejin|183|aklejin52@webnode...|      China|       GMC|
|     Benni Firminger|236|bfirminger6j@cana...|      Japan|   Mercury|
|         Beryl Olexa|168|bolexa4n@bluehost...|   Portugal| Chevrolet|
|      Billye Franchi|116|bfranchi37@dailym...|     Uganda|     Isuzu|
|    Brana Clutterham| 47|bclutterham1a@eur...|   Tanzania|    Suzuki|
|          Cal Lenden|165|clenden4k@forbes.com|    Ecuador|Oldsmobile|
|  Christean Hesbrook|244|chesbrook6r@spieg...|   Cameroon|    Toyota|
|     Christye Pudney|148|     cpudney43@de.vu|     Sweden|  Maserati|
|       Cindra Frewer|247|  cfrewer6u@time.com|     Sweden|  Cadillac|
|  Cinnamon Simonetto|220|csimonetto63@barn...| Martinique|     Isuzu|
|    Claudine Segrave|152|csegrave47@dailym...|Philippines|     Honda|
|Concettina McCoveney| 74|cmccoveney21@ask.com|      Chile|    Toyota|
|      Connie Lowfill|119|clowfill3a@openso...|      China|      Ford|
|        Cordey Bauer|234| cbauer6h@weebly.com|     Russia|       GMC|
|   Corena Dawidowitz| 79|cdawidowitz26@lis...|  Argentina| Chevrolet|
|     Crista Taillard| 49|ctaillard1c@ebay....|     France|       BMW|
|     Cthrine Lilford|125|clilford3g@delici...|      Egypt|    Subaru|
|    Daisi De Bruijne| 39|dde12@deviantart.com|      China|    Subaru|
+--------------------+---+--------------------+-----------+----------+
only showing top 25 rows

In [ ]:
sql_query = """
    SELECT id,full_name, email, country
    FROM cars
    WHERE car_make = 'Ford' AND gender='M'
    ORDER BY id ASC
"""

df2 = spark.sql(sql_query)

In [ ]:
df2.show(10)

+---+-------------------+--------------------+--------------------+
| id|          full_name|               email|             country|
+---+-------------------+--------------------+--------------------+
|  3|    Alphard Crowder|acrowder2@google....|               China|
| 11|       Gale Beddall|   gbeddalla@tiny.cc|Palestinian Terri...|
| 14|   Maxwell Flintoft|mflintoftd@sfgate...|           Indonesia|
| 16|    Dominick Girard|dgirardf@miitbeia...|            Bulgaria|
| 24|  Tremaine Gusticke| tgusticken@army.mil|               China|
| 46|      Shaine Lawday|     slawday19@is.gd|        South Africa|
| 48|Alexandros Henrique| ahenrique1b@ihg.com|               China|
| 60|      Rawley Ailmer|railmer1n@oaic.go...|               China|
| 95|       Doug Goreway|dgoreway2m@bookin...|               China|
|100|  Arthur Rawsthorne|arawsthorne2r@web...|              Poland|
+---+-------------------+--------------------+--------------------+
only showing top 10 rows

In [ ]:
sql_query = """
    SELECT car_make, COUNT(*) as total
    FROM cars
    GROUP BY car_make
    ORDER BY total DESC
"""
df3 = spark.sql(sql_query)
df3.show(3)

+---------+-----+
| car_make|total|
+---------+-----+
|     Ford|   29|
|Chevrolet|   13|
|   Toyota|   13|
+---------+-----+
only showing top 3 rows

In [ ]:

# Ruta donde se guardará el archivo CSV en Google Drive
output_path_drive = "/content/drive/MyDrive/ies 2023/2023/2s/big data"

# Guarda el DataFrame 'result_df' en un archivo CSV en Google Drive
df3.write.csv(output_path_drive, header=True, mode="overwrite")